#Container{
  width: 100%;
  float: left;
  height: auto;
  position: relative;
}

#Header{
  width: 100%;
  height: 120px;
  background-color:#9bc7c4;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 60px;
  align-content: center;
  text-align: center;
}

#CenterElement{
  width: 100%;
  margin-top: 100px;
}

#column1 {
  float: left;
  width: 33.33%;
  height: 200px;
}

#column2 {
  float: left;
  width: 33.33%;
  height: 200px;
}
#column3 {
  float: left;
  width: 33.33%;
  height: 200px;
}

#Footer{
  position: absolute;
  bottom: 0;
  left:0;
  right : 0;
  background-color:#9bc7c4;
  width: 100%;
  height: 100px;
}
