#Container{
  width: 100%;
  float: left;
  height: auto;
  position: relative;
}

#Header{
  width: 100%;
  height: 120px;
  background-color:#9bc7c4;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  align-content: center;
  text-align: center;
  font: 60px Georgia, Serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#CenterElement{
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

#column1 {
  float: left;
  width: 20%;
  height: 2000px;
}

#column2 {
  float: left;
  width: 60%;
  height: 2000px;
}

/*Quiz Specific CSS Settings */

body {
  font: 14px Georgia, serif;
}

#page-wrap {
   width: 500px;
   margin: 0 auto;
}

h1 {
  font: 60px Georgia, Serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#quiz input {
    vertical-align: middle;
}

#quiz ol {
   margin: 20px 0 10px 20px;
}

#quiz ol li {
   margin: 0 0 20px 0;
}

#quiz ol li div {
   padding: 4px 0;
}

#quiz h3 {
   font-size: 17px;
   margin: 30px 0 20px 0;
   color: #003285;
}

input[type=submit]{
  color:#fff;
  border-style: solid;
  background-color: rgba(135, 192, 214, 0.5);
	border-color:rgb(105, 160, 191);
    color:rgb(0,0,0);
    padding: 10px;
	margin-top:20px;
	border-radius:10px;
	cursor:pointer;
	position:relative;
  margin-left: 65px;
}

#results {
    font: 44px Georgia, Serif;
}

/*https://www.sharecodepoint.com/2016/10/make-an-online-quizzes-template-and-system-for-your-website-and-application-using-html-css-and-javascript.html*/

input[type=radio] {
    display:none;
}
input[type=radio] + label {
    display:inline-block;
    width:80%;
    padding:10px;
    border:1px solid #ddd;
    margin-bottom:10px;
    cursor:pointer;
}
input[type=radio] + label:hover{ border:1px solid #000000;}
input[type=radio]:checked + label {
   background-image: none;
   background-color:#003285;
   color:#fff;
   border:1px solid #000000 !important;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}

/*****************************/
/****************************/

#column3 {
  float: left;
  width: 20%;
  height: 2000px;
}

#Footer{
  position: absolute;
  bottom: 0;
  left:0;
  right : 0;
  background-color:#9bc7c4;
  width: 100%;
  height: 100px;
}
