* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.videosdocumentaries,
.articles,
.questionnaires,
.sign-up
{
  display: flex;
  height: 90vh;
  align-items: top;
  justify-content: center;
  font-size: 3rem;
}

.videosdocumentaries {
  background-image: url('/images/img-9.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(240, 240, 240);
  font-size: 100px;
}

.questionnaires {
  background-image: url('/images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  font-size: 100px;
  max-width: 100%;
  height: auto;
}

.articles {
  background-image: url('/images/img-4.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;

}

.articles-wrapper{
  opacity: 0.8;
  position: center;
  background-color: #fff;
  color:black;
  font-size: 30px;
  padding: 10pt;
}

.articles-container{
  opacity: 0.8;
  position: relative;
  background-color: #fff;
  color:black;
  font-size: 20px;
  padding: 10pt;
  max-width: 100%;
  height: auto;
}

.sign-up {
  background-image: url('/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  max-width: 100%;
  height: auto;
}

.ReactPlayer {
    float:left;
    margin:30px;

    width:45%;

}

body {
  background-image: url('/images/img-9.jpg');
  background-size: cover;
}

.ReactPlayer h1{
    text-align: center;
    color:#ffffff;
}

.VideoPlayer{
  margin-left:85px;
   max-width: 100%;
   height: auto;
 
}



.box {
  display: inline-block;
  left: 50%;
  text-align: center;
  width: 300px;
  border: 1px solid rgba(255, 255, 255, 0);
  padding: 50px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 20%;
  -webkit-box-shadow: 0px 0px 15px 7px #9d9d9d;
  box-shadow: 0px 0px 15px 7px #9d9d9d;

  /* margin: 25px 50px 75px 800px; */
}
.box h2 {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.box button {
  color: rgb(0, 0, 0);
  background-color: #9d9d9d;
  font-size: 14px;
  line-height: 14px;
  padding: 8px;
  border-radius: 0px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  box-shadow: rgb(201, 201, 201) 5px 5px 15px 5px;
  border: 2px solid rgb(0, 0, 0);
  display: inline-block;
}
.button:hover {
  background: #000000;
}
.button:active {
  background: #144e75;
}
.box h4 {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.app {
  background-color: #252d4a;
  width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 5px 11x 42px 10px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
  padding-top: 0.5;

  
}
.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
  color: #ffffff;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
  color: #ffffff;
}

.question-count span {
  font-size: 28px;
  color: #ffffff;
}

.question-text {
  margin-bottom: 12px;
  color: #ffffff;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}
/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
}
