<!DOCTYPE html>
<html lang="en"
<head></head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Social Media</title>
<link rel="stylesheet" href="Style.css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body></body>

<div class="SocialMedia"></div>


</div>
<u1></u1>

    <li><a href="#"></a><i class="fa fa-facebook"></i></i></a></a></li>
    <li><a href="#"></a><i class="fa fa-twitter"></i></i></a></a></li>
    <li><a href="#"></a><i class="fa fa-instagram"></i></i></a></a></li>
    <li><a href="#"></a><i class="fa fa-linkedin"></i></i></a></a></li>
</u1>

</body>
