<!DOCTYPE html>
<html lang="en">
</head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accordions </title>
    <link rel="stylesheet" href="FAQ.css"
    
</head>
<body>
<div class="container-fluid">
    <h2>Frequently Asked Questions (FAQs)</h2>
    <div class="accordion">
        <div class="icon"></div>
        <h5>What is plastic pollution?</h5>
        </div>
        <div class="panel">
            <P>Plastic pollution is the accumulation of plastic objects and particles (e.g. plastic bottles, bags and microbeads) in the Earth's environment that adversely affects wildlife, wildlife habitat, and humans. ... Plastic pollution can afflict land, waterways and oceans</P>
        </div>

        <div class="accordion">
            <div class="icon"></div>
            <h5>What are the effects of marine plastic pollution?</h5>
            </div>
            <div class="panel">
                <P>The most visible and disturbing impacts of marine plastics are the ingestion, suffocation and entanglement of hundreds of marine species. Marine wildlife such as seabirds, whales, fishes and turtles, mistake plastic waste for prey, and most die of starvation as their stomachs are filled with plastic debris.</P>
        </div>

        <div class="accordion">
            <div class="icon"></div>
            <h5>What is some simple ways i can personally reduce plastic pollution?</h5>
            </div>
            <div class="panel">
                <P>Ways to reduce marine pollution in you everyday life include, to stop using single-use plastics, replace plastic grocery bags with reusable cloth bags or single use paper bags, bring a reusable coffee mug or travel cup if you get coffee to go, and shop at farmers' markets where you can use your own containers</P>
        </div>

        <div class="accordion">
            <div class="icon"></div>
            <h5>Will we ever get rid of plastic pollution?</h5>
            </div>
            <div class="panel">
                <P>It is not impossible to eliminate plastic - though it will require clever engineering and applied science, and the technology already exists. Right now, there are viable alternatives to entirely replace plastics while there are other recycling solutions to reduce the plastic which already exists.</P>

    </body
    </html>